.title {
  text-align: center;
  margin-block-start: 0em;
    margin-block-end: 0em;
}

.geek img {
  width: 150px;
}

.geek {
  text-align: center;
  background-color: #92140c;
}

body {
  margin: 0;
}
.box {
  display: flex;
  justify-content: center;
}

.video {
  text-align: center;
    width: 33%;
    margin-top: 10px;

}
.video img {
  width: 50%;
  margin: 5% 0 5% 0;
}
.video a {
  margin: 10px 20% 10px 20%;
  text-decoration: none;
  padding: 10px;
  background-color: #9bc848;
  color: #fff;
  border-radius: 10px;

}
.video a:hover {
  background-color: #1e212b;
  transition: 1.2s;
  padding: 15px;
}

.box2{
  display: flex;
}
.echec {
  text-align: center;
}

.good {
  text-align: center;
}

header {
  text-align: center;
  background-color: #92140c;
}
header img {
  width: 250px;
}

.box-fail{
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}
.box-ytb{
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}
.éléments {
  width: 25%;
  margin: 0 0px 0px 2%;
}
.éléments h3 {
  text-align: center;
  background-color: #9bc848;
  color: #fff;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.accueil {
  float: left;
  width: 12%;
  padding: 0px 10px 0px 10px;
  background-color: #1e212b;
  margin-bottom: 100%;
}
.onglet {
  padding: 10px;
  background-color: #9bc848;
  text-align: center;
}
.onglet a {
  padding: 5px;
  color: #FFF;
  border-radius: 10px;
}
.onglet a:hover {
  transition: 1.2s;
  padding: 8px;
  background-color: #92140c;
}
