.title {
  text-align: center;
  margin-block-start: 0em;
    margin-block-end: 0em;
}

.geek img {
  width: 150px;
}

.geek {
  text-align: center;
  background-color: #92140c;
  margin-bottom: 10px;
}

body {
  margin: 0;
}
.fail {
  text-align: center;
  float: left;
  width: 33%;
  margin-top: 10px;
  height: 590px;
}
.fail img {
  width: 100%;
  margin-top: 10px;
}
.fail a {
  text-decoration: none;
  padding: 10px;
  background-color: #9bc848;
  color: #fff;
  border-radius: 10px;
}
.fail a:hover {
  background-color: #1e212b;
  transition: 1.2s;
  padding: 15px;
}

.moments {
  text-align: center;
  float: left;
  width: 33%;
  margin-top: 10px;
  height: 590px;
}
.moments img {
  width: 100%;
  margin-top: 10px;
}
.moments a {
  text-decoration: none;
  padding: 10px;
  background-color: #9bc848;
  color: #fff;
  border-radius: 10px;
}
.moments a:hover {
  background-color: #1e212b;
  transition: 1.2s;
  padding: 15px;
}

.video {
  text-align: center;
  float: left;
  width: 33%;
  margin-top: 10px;
  height: 590px;
}
.video img {
  width: 100%;
  margin-top: 10px;
}
.video a {
  text-decoration: none;
  padding: 10px;
  background-color: #9bc848;
  color: #fff;
  border-radius: 10px;
}
.video a:hover {
  background-color: #1e212b;
  transition: 1.2s;
  padding: 15px;
}

.echec {
  clear: both;
  float: left;
  text-align: center;
  width: 50%;
  height: 300px;
}

.good {
  float: left;
  text-align: center;
  width: 50%;
  height: 300px;
}

header {
  text-align: center;
  background-color: #92140c;
}
header img {
  width: 250px;
}

.éléments {
  float: left;
  height: 270px;
  width: 25%;
}
.éléments h3 {
  text-align: center;
  background-color: #9bc848;
  color: #fff;
  margin-block-end: 0em;
}
